<div class="login-page">

  <section class="login-card">

    <div class="login-brand">
      <div class="logo-box">
        🍔
      </div>

      <h1>TIM DO LELÊ</h1>
      <strong>LANCHES</strong>
      <p>Acesso exclusivo ao painel administrativo</p>
    </div>

    <div class="login-form">

      <label>
        E-mail
        <input
          type="email"
          [(ngModel)]="email"
          placeholder="Digite seu e-mail"
        />
      </label>

      <label>
        Senha
        <input
          type="password"
          [(ngModel)]="senha"
          placeholder="Digite sua senha"
        />
      </label>

      <button
        class="login-button"
        (click)="login()"
      >
        ENTRAR
      </button>

      <button
        type="button"
        class="forgot-button"
      >
        Esqueceu sua senha?
      </button>

    </div>

  </section>

</div>
