<div class="overlay" (click)="fechar.emit()">

  <div class="modal card" (click)="$event.stopPropagation()">

    <div class="modal-header">
      <h2>{{ produto?.nome }}</h2>

      <button type="button" (click)="fechar.emit()">
        ✕
      </button>
    </div>

    <div class="produto-banner">
      🍔
    </div>

    <p class="descricao">
      Hambúrguer artesanal preparado com ingredientes selecionados.
    </p>

    <div
      *ngIf="produto?.adicionais?.length > 0"
      class="adicionais"
    >
      <h3>Adicionais</h3>

      <div
        *ngFor="let adicional of produto.adicionais"
        class="adicional-item"
      >
        <div class="adicional-left">
          <label>
            <input
              type="checkbox"
              (change)="toggleAdicional(adicional)"
            >

            <span>{{ adicional.nome }}</span>
          </label>
        </div>

        <strong>
          +R$ {{ adicional.preco }}
        </strong>
      </div>
    </div>

    <div class="obs-area">
      <h3>Observação</h3>

      <textarea
        [(ngModel)]="observacao"
        placeholder="Ex: sem cebola..."
      ></textarea>
    </div>

    <div class="quantidade-area">
      <button type="button" (click)="diminuirQuantidade()">
        -
      </button>

      <span>{{ quantidade }}</span>

      <button type="button" (click)="aumentarQuantidade()">
        +
      </button>
    </div>

    <div class="footer">
      <div class="total">
        Total:
        <strong>R$ {{ calcularTotal() }}</strong>
      </div>

      <button
        type="button"
        class="primary-button"
        (click)="confirmar()"
      >
        Adicionar
      </button>
    </div>

  </div>

</div>
